# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
test_venv/

# Node
node_modules/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# Local uploads / generated output
resources/uploads/
resources/sharepoint_files/
*.pdf
*.log

.vercel
